/* ************************************************************************** */
/* Animation **************************************************************** */
/* ************************************************************************** */

@keyframes menuDrop {
  from {
    height: 0;
  }

  to {
    height: 65vh;
  }
}

@keyframes menuUp {
  from {
    height: 65vh;
  }

  to {
    height: 0;
  }
}