/* ************************************************************************** */
/* FOOTER Sections ********************************************************** */
/* ************************************************************************** */

/* footer 1 ***************************************************************** */
.footer-1 {
  background: url('../images/footer-bg@2x.jpg') center / cover;
  height: 700px;
  position: relative;

  @include isLarge {
    height: 700px;
  }

  @include isXLarge {
    height: 790px;
  }

  .section-info {
    // background: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include isMedium {
      padding-top: 1rem;
    }

    @include isLarge {
      padding-top: 2rem;
    }

    @include isXLarge {
      padding-top: 3rem;
    }

    .footer-logo {
      height: 111.47px;
      width: 250.1px;
    }

    .body-copy {
      text-align: center;
    }

    .map {
      width: 50%;
      margin: 0 auto;

      @include isXLarge {
        width: 620px;
        height: 308px;
      }
    }
  }

  .footer-nav {
    background: rgba($color-white, 0);
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    // left: 0;
    // transform: translateX(-50%);

    @include isLarge {
      height: 60px;
      background: rgba($color-white, .8);
    }

    .containerish {
      // background: green;
      width: 100%;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      @include isLarge {
        flex-direction: row;
        padding: 0 1rem;
      }

      @include isRetina {
        padding: 0;
      }
    }
  }
}

/* footer 2 ***************************************************************** */
.footer2 {
  background-color: $color-white;
  width: 100%;
  padding: 0.6rem 20px;
  height: 50px;
  display: flex;
  align-items: center;

  .containerish {
    display: grid;
    align-items: center;

    .topbar-link {
      // color: $color-white;
    }

    .topbar-link:not(:last-child) {
      margin-right: .5rem;
    }

    .small-footer-link:hover,
    .topbar-link:hover {
      color: $color-main;
      text-decoration: none !important;
    }

    @include isMedium {
      grid-template-columns: max-content 1fr max-content;
    }
  }
}