/* ************************************************************************** */
/* Header Sections ********************************************************** */
/* ************************************************************************** */
header {
  // position: relative;
  // background: green;
  z-index: 9999;

  @include isXLarge {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@import 'topbar';
@import 'navbar';