/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */

/* hero ********************************************************************* */
.hero {
  background: url('../../images/hero-bg@2x.jpg') center left / cover;
  position: relative;

  @include isMedium {
    background-position: center center;
  }

  .containerish {
    display: flex;
    align-items: flex-end;
    padding: 40px 20px;
    position: relative;
    overflow: visible;

    @include isMedium {
      height: 650px;
    }

    @include isXLarge {
      height: 735px;
      align-items: center;
      padding-left: 2rem;
    }

    .desktop-logo {
      display: none;

      @include isXLarge {
        display: block;
        width: 274.14px;
        height: 122.19px;
        position: absolute;
        top: 3rem;
        left: 2rem;
      }

      @include isRetina {
        left: -1rem;
      }
    }

    .section-info {
      @include isMedium {
        width: 75%;
        max-width: 570px;
      }

      @include isXLarge {
        margin-top: 8rem;
      }
    }
  }
}

/* tempsure ***************************************************************** */
.tempsure {
  background: url('../../images/tempsure-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  @include isXLarge {
    padding: 100px 20px;
  }

  .containerish {
    display: grid;
    row-gap: 1rem;

    @include isMedium {
      row-gap: 3rem;
    }

    @include isLarge {
      row-gap: 0;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
    }

    .section-img {
      margin-bottom: 1rem;

      @include isXLarge {
        margin-bottom: 3rem;
      }
    }

    .section-info {}
  }
}

/* biote ******************************************************************** */
.biote {
  background: url('../../images/biote-bg@2x.jpg') center / cover;

  @include isMedium {
    height: 800px;
  }

  @include isLarge {
    height: 1032px;
  }

  .containerish {
    position: relative;
    height: inherit;
    overflow: visible;

    .section-info {
      background: rgba($color-white, .9);
      padding: 20px;
      box-shadow: 0 3px 50px rgba($color-dark, .2);

      @include isMedium {
        position: absolute;
        width: 80%;
        max-width: 717px;
        bottom: 0;
        right: 0;
        padding: 2rem;
      }

      @include isLarge {
        padding: 4rem 6rem;
      }

      @include isXLarge {
        bottom: -4rem;
      }

      @include isRetina {
        bottom: -8rem;
        right: -3rem;
      }
    }
  }
}

/* botox and fillers ******************************************************** */
.botox-fillers {
  background: url('../../images/botox-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  @include isXLarge {
    height: 900px;
  }

  @include isRetina {
    height: 1056px;
  }

  .containerish {
    display: grid;
    row-gap: 1rem;

    @include isLarge {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      align-items: center;
    }

    @include isXLarge {
      margin-top: 8rem;
    }

    @include isRetina {
      margin-top: 14rem;
      grid-gap: 2rem;
    }

    .col-right {
      display: grid;
      row-gap: 1rem;

      @include isMedium {
        grid-template-columns: 1fr 1fr;
        row-gap: 0;
        grid-gap: 1rem;
      }

      @include isLarge {
        grid-template-columns: 1fr;
        grid-gap: 0;
        row-gap: 1rem;
      }
    }
  }
}

/* PRP ********************************************************************** */
.prp {
  background: url('../../images/prp-bg@2x.jpg') center left / cover;
  padding: 40px 20px;

  @include isMedium {
    height: 700px;
    background-position: center center;
  }

  @include isXLarge {
    height: 906px;
    background-position: top center;
  }

  .containerish {
    .section-info {
      @include isMedium {
        width: 75%;
        max-width: 700px;
        margin-top: 4rem;
      }

      @include isMedium {
        width: 55%;
      }

      @include isLarge {
        width: 700px;
        margin-top: 6rem;
      }
    }
  }

}

/* laser hair removal ******************************************************* */
.laser-hair {
  background: url('../../images/laser-hair-removal-bg@2x.jpg') center right / cover;
  padding: 40px 20px;

  @include isMedium {
    height: 700px;
    background-position: top center;
    padding: 0 20px;
  }

  @include isXLarge {
    height: 923px;
  }

  @include isXLarge {
    background-position: top left;

  }

  .containerish {
    position: relative;
    height: inherit;

    .section-info {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 60%;

      @include isLarge {
        width: 50%;
      }

      @include isXLarge {
        padding: 0 1rem;
      }
    }
  }
}