// Color Theme Vars
$color-main: #CAC0B1;
$color-light: #F7F9FA;
$color-light-accent: #AB928B;
$color-dark: #4A4E57;
$color-dark-accent: #DF736B;
$color-copy: #727272;
$color-white: #ffffff;
$color-black: #000000;


/* -------------------------------------------------------------------------- */
/* COLOR THEME */
/* -------------------------------------------------------------------------- */
.color-main {
  color: $color-main;
}

.color-light {
  color: $color-light;
}

.color-light-accent {
  color: $color-light-accent;
}

.color-dark {
  color: $color-dark;
}

.color-dark-accent {
  color: $color-dark-accent;
}

.color-copy {
  color: $color-copy;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}