/* ************************************************************************** */
/* Typography *************************************************************** */
/* ************************************************************************** */
@import "https://use.fontawesome.com/releases/v5.4.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

$font-primary: 'Lato',
sans-serif;
$font-secondary: 'Lato',
sans-serif;

// General Font Setup
// Headers
h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0 !important;
}

/* Primary Header */
h1 {
  font-family: $font-secondary;
  font-size: 3.125rem; // 50px
  line-height: 3.125rem;
  font-weight: 300;
}

h2 {
  font-family: $font-secondary;
  font-size: 2.8125rem; // 45px
  line-height: 2.8125rem;
  font-weight: 300;
}

h3 {
  font-family: $font-secondary;
  font-size: 2.5rem; // 40px
  line-height: 2.5rem;
  font-weight: 300;
}

h4 {
  font-family: $font-secondary;
  font-size: 1.875rem; // 30px
  line-height: 1.875rem;
  font-weight: 300;
}

h5 {
  font-family: $font-secondary;
  font-size: 1.6875rem; // 27px
  line-height: 1.6875rem;
  // font-weight: 300;
  font-style: italic;
}

h6 {
  font-family: $font-secondary;
  font-weight: 300;

}


//Body Text
.body-copy {
  font-size: 1.125rem; // 18px
  line-height: calc(1.125rem * 1.5);
  font-family: $font-primary;

  &.is-light {
    font-weight: 300;
  }

  &.is-italic {
    font-style: italic;
  }
}

/* Lead Text (hero) */
.lead-copy {
  font-size: 1.125rem; // 18px
  line-height: calc(1.125rem * 1.5);
  font-family: $font-primary;
}

/* Footer2 Text */
.small-copy {
  font-weight: 300;
  font-size: 13px;
  line-height: calc(12px * 1.5);
  font-family: $font-secondary;

  &.is-semibold {
    font-weight: 600;
  }

  &.is-bold {
    font-weight: 700;
  }
}

/* Text Modifiers */
.wrap-75 {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

input {
  font-family: $font-primary;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}